body {
  background-color: #ffe190;
  margin: 0;
}

header {
  border-bottom: 0.15rem solid #f99637;
}

footer {
  padding: 0.5rem;
}

h1 {
  font-size: 1.25rem;
}

h2 {
  font-size: 1.15rem;
}

h3 {
  font-size: 1.10rem;
}

a {
  font-weight: 500;
  color: #0650ff;
  text-decoration: inherit;
}

a:hover {
  color: #97c7ff;
}

nav {
  display: flex;
}

header>nav>a {
  display: flex;
  align-items: center;
  padding: 0.75rem 0.5rem 0.5rem 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
}

header>nav>a.active {
  background-color: #f99637;
}

header img {
  height: 2rem;
  width: 2rem;
  margin: 0 0.25rem;
}

.main-content {
  display: flex;
  flex-direction: row;
}

main {
  flex: 1;
  margin: 1rem;
}

aside {
  width: 16rem;
  margin: 1rem;
}

.socials-list {
  list-style: none;
  padding-left: 0;
}

.socials-list>li {
  margin-bottom: 0.75rem;
}

.socials-list a {
  display: flex;
  align-items: flex-start;
  gap: 0.25rem;
}

.emoji-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.emoji {
  width: 4rem;
  height: 4rem;
  padding: 0.25rem;
}

.emoji:hover {
  width: 4.5rem;
  height: 4.5rem;
  padding: 0;
}

@media (max-width: 720px) and (orientation: portrait) {
  header>nav {
    flex-direction: column;
    gap: 0.5rem;
  }

  .main-content {
    flex-direction: column;
  }

  main {
    min-height: 150px;
  }

  aside {
    width: unset;
  }
}